
/*-----------------------------------------------------------------------------------*/
/*  1. BASE
/*-----------------------------------------------------------------------------------*/
 html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
body {
    word-wrap:break-word;
    -ms-word-wrap:break-word;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
blockquote {
    margin: 1em 0;
    border-left: 10px solid #ccc;
    padding-left: 12px;
}
table th {
    background: #ddd;
    font-weight: bold;
}
table td, table th {
    padding: 8px;
    border: 1px solid #bbb;
    text-align: left;
}
dt {
    font-weight: bold;
}
pre {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    line-height: 1.3;
    margin: 1em 0;
}
figure {
    max-width: 100%;
    height: auto;
}
*::-moz-selection {
    background:#000;
    color:#fff;
}
*::selection {
    background:#000;
    color:#fff;
}
img {
    max-width:100%;
    height:auto;
    display: block;
}
button {
    background-image:none;
    background:transparent;
}
input[type="email"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: none;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Dosis', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}
h1 {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 1.4;
}
h2 {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1;
}
h3 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.11111;
}
h4 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.125;
}
h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.125;
}
h6 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}
a {
    cursor: pointer;
    outline: none;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:active, a:focus {
    color: #0097a7;
    text-decoration: none;
    outline: none;
}
button:focus {
    outline:0;
}
p {
    margin: 0 0 10px;
    color: #333333;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.overlay.dark {
    background-color: #000000;
    opacity: 0.6;
}
.overlay.green {
    background-color: #0097a7;
    opacity: 0.6;
}
.overlay.color {
    opacity: 0.5;
    background: #00f6ff;
    background: -moz-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00f6ff), color-stop(25%, #007eff), color-stop(50%, #7814ff), color-stop(75%, #86297a), color-stop(100%, #ff6600));
    background: -webkit-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
    background: -o-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
    background: -ms-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
    background: linear-gradient(to right, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f6ff', endColorstr='#ff6600', GradientType=1);
}
.no-padding {
    padding: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-left {
    margin-left: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
span.yellow-text {
    color: #f2af59;
}
button {
    margin: 15px 0 !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
button.button-normal, .button-normal a {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em !important;
    font-size: 14px;
    font-weight: 500;
    margin: 30px 0;
}
button.button-normal.white, .button-normal.white a {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #0097a7;
}
button.button-normal.white:hover, .button-normal.white a:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
button.button-normal.green, .button-normal.green a {
    background-color: #0097a7;
    border: 1px solid #0097a7;
    color: #ffffff;
}
button.button-normal.green:hover, .button-normal.green a:hover {
    background-color: transparent;
    border: 1px solid #0097a7;
    color: #0097a7;
}
.flexslider {
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    overflow: hidden;
}
form input, form textarea {
    background-color: #f8f8f8;
    padding: 0 15px;
    width: 100%;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
form textarea {
    padding: 15px 15px;
    height: 100%;
}
form input:focus, form textarea:focus {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
/*-----------------------------------------------------------------------------------*/
/*  2.  HEADER
/*-----------------------------------------------------------------------------------*/
 #header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-top: 5px solid #0097a7;
}
/*-----------------------------------------------------------------------------------*/
/*  2e.  SLIDER
/*-----------------------------------------------------------------------------------*/
 .tp-banner .caption {
    z-index: 1000;
}
/*-----------------------------------------------------------------------------------*/
/*  3.  CONTENT
/*-----------------------------------------------------------------------------------*/
 .single-wrapper {
    padding-top: 107px;
}
.grey-background {
    background-color: #f8f8f8;
}
#content .with-bg-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#content .with-bg-image .container {
    position: relative;
    z-index: 100;
}
/* Page Title & Heading Block */
 .page-title {
    padding: 25px 0px 30px 0px;
}
.heading-block:after {
    content:'';
    display: block;
    margin: 30px 0;
    width: 50px;
    border-top: 2px solid #0097a7;
}
.heading-block h2 {
    margin-bottom: 5px;
}
.heading-block h4.tagline {
    color: #999999;
}
.heading-block.page-title:after {
    content:'';
    display: block;
    margin: 10px 0 0 0;
    width: 75px;
    border-top: 5px solid #0097a7;
}
.heading-block.page-title h1 {
    margin-bottom: 0;
}
/* home slider */
 .flexslider-wrap .flexslider .slides > li {
    position: relative;
    background-position: center center;
}
.flexslider-wrap .flexslider .slides .flex-content {
    position: absolute;
    top: 60%;
    z-index: 100;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*-----------------------------------------------------------------------------------*/
/*  3a.  BANNER
/*-----------------------------------------------------------------------------------*/
 .banner {
    background-color: #0097a7;
}
.banner.large {
    padding: 60px 0;
}
.banner.small {
    padding: 30px 0;
}
.banner h1, .banner h3 {
    color: #ffffff;
    margin: 10px 0;
}









#display{
    display: none
}